body{
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
}

.main {
        background-color: #f1f1f1;
}
.nav_menu{
       display: flex;
       justify-content: space-between; 
       padding: 30px 40px;
       align-items: center;
}

.nav_menu > a{
        padding-left: 220px;
}
#logo{
        font-size: 36px;
        font-family: Arial;
        color:#15295f;
        font-weight: 800;
}
.menu_item{
        list-style: none;
        gap: 20px;
        display: flex;
        font-size: 20px;
        color:#15295f;
        font-family: Arial;
        font-weight: 600;
        cursor: pointer;
        padding-right: 220px;
}
.menu_item>li:hover{
        color: orange;
}

#hire{
      color: white;
      background-color: orangered;
      font-size: 20px;  
      font-family: arial;
      height: 50px;
      width: 110px;
      border-radius: 35px;
      border: none;
      /* margin-top: ; */

}
#hire:hover{
        color: orangered;
        background-color: white;
        border: 2px solid orangered;
        /* border-color: orangered; */
}
.btn {
        padding-right: 50px;
}

.container {
        display: flex;
        gap: 100px;
        padding-left: 220px;
}

.hero{
        padding-left: 40px;
        font-family: Arial;
        margin-top: 100px;
}

.hero > h4{
        color: orangered;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.3;
}

.hero > h1{
        color: #15295f;
        font-size: 75px;
        font-weight: 700;
        margin-top: -45px;
        margin-bottom: -28px;
        line-height: 1.3;
}

.hero >h3{
        color: #15295f;
        font-size: 22px;
        line-height: 1.3;
        margin-top: 50px;
        text-transform: capitalize;
} 

.hero >p{
        color: #6f6b80;
        font-size: 16px;
        width: 450px;
        margin-bottom: 50px;
}

.hero-button {
        display: flex;
        gap: 40px;
        font-family: arial;
}

.CV {
        color: white;
        background-color: orangered;
        font-size: 18px;  
        text-align: center;
        height: 50px;
        width: 150px;
        border-radius: 35px;
        border: none;
        cursor: pointer;
        /* margin-top: ; */
}

.CV:hover{
        color: orangered;
        background-color: white;
        border: 2px solid orangered;
        transition: 0.2s;
        /* border-color: orangered; */
}

.contact {
        color: #fd6e0a;
        background-color: #f1f1f1;
        font-size: 18px;  
        font-family: arial;
        text-align: center;
        height: 50px;
        width: 150px;
        border-radius: 35px;
        border-color: #fd6e0a;
        cursor: pointer;
        /* margin-top: ; */
}

.contact:hover{
        color: white;
        background-color: orangered;
        border: orangered;
        /* border-color: orangered; */
}

.xp {
        position: relative;
        display: flex;
       
        align-items: center;
        max-width: 60%;
        border-radius: 300px;
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
          
}

.xp1 {
        padding-left: 30px;
}

h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.3;
        color: #15295f;
        margin-bottom: 8px;
}

p {
        font-size: 18px;
        line-height: 1.2;
        color: #fd6e0a;
}

.design {
        display: flex;
}

.blog {
        background-color: #1f1d2b;
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        margin-right: auto;
}

.header {
        text-align: center;
}

.header > p {
        font-weight: 500;
        font-size: 22px;
        line-height: 1.5;
        color: #fd6e0a;
        margin-bottom: 10px;
}

.header > h2 {
        font-weight: 700;
        font-size: 30px;
        line-height: 1.5;
        color: #ffffff
}

.grid {
        display: flex;
}

.date {
       
       
}

.grid-1 {
        
}

.contact-section {
        display: flex;
        padding: 220px;
        margin-bottom: -180px;
}

.contact-info >p{
        color: #6f6b80;
        font-size: 16px;
        width: 460px;
}

.social_media {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 20px;
        list-style: none;
}

.link {
        color: black;
}

input[type="text"] {
        font-size: 16px;
        margin-top: 25px;
        padding: 15px 30px;
        width: 500px;
        display: block;
        background-color: #ffffff;
        border: 2px solid #eeeeee; 
        /* height: 20px; */
}

.form {
        margin-left: 300px;
}

.form > textarea{
        font-size: 18px;
        width: 500px;
        height: 100px;
        margin-top: 25px;
        padding: 15px 30px;
        display: block;
        background-color: #ffffff;
        border: 2px solid #eeeeee; 
}
button {
        color: white;
        background-color: orangered;
        font-size: 18px;  
        text-align: center;
        height: 50px;
        width: 180px;
        border-radius: 35px;
        border: none;
        cursor: pointer;
        margin-bottom: 50px;
}
.footer {
        padding: 40px 0;
        background-color: #fdf8f7;
        text-align: center;
}

.footer >p {
        color: #15295f;
}

.code {
        text-decoration: none;
        color: #fd6e0a;
       
}

